#nav
{
	background-color: #FFC607;
}

#cards
{
	margin-top: 20px;
}
.efeito-card
{
	transition: transform 1s;
}
.efeito-img
{
	transition: transform 1s;
}
.efeito-img:hover
{
	transform: scale(1.2) rotateY(360deg) ;
	cursor: pointer;
}
.margem-superior
{
	margin-top: 15%;
}
body
{
	background-color: #E3DEE0;
}
.imgrodape
{
	max-height: 75px; 
	max-width: 75px;
	margin-bottom: 0px;
}

#cards
{
	margin-top: 25px;
	margin-bottom: 25px;
	text-align: center;
}
#img-1
{
	background-color: 
}
#img-2
{
	background-color: 
}
#img-3
{
	background-color:
}
#img-4
{
	background-color:
}
.editar-card
{
	background-color: #efefef;
	padding: 5%;
	margin-top: 10%;
	margin-bottom: 10%;
	border-radius: 15%;
}
#section
{
	margin-top: 100px;
	padding: 50px;
	background-color: #E3DEE0;
	
}
	